<div class="events-wrapper">
<% if @upcoming_created_events.any? %>
	<div class="row events-header">
	<h2>Events user has created.</h2>
	</div>

	<div class="row user-events-header">
		<p>Upcoming Events...</p>
	</div>

	<% @upcoming_created_events.each do |event| %>

		<div class="row" id="event-row">
			<p class="event-title"><%= link_to event.title, event %>.</p> 
			<p>Date: <%= event.date.strftime("%d/%m/%y") %>.</p>

			<% if current_user == event.creator %>
			<%= link_to "Cancel", event, method: :delete,
																		data: {confirm: "Are you sure?" } %>
			
			<% end %>
				
		</div>
	<% end %>		
<% end %>
		

	<% if @past_created_events.any? %>
		<div class="row user-events-header">
			<p> Previous events created by this user.</p>
		</div>	
				<% @past_created_events.each do |event| %>
				<div class="row" id="event-row">
					<p class="event-title"><%= link_to event.title, event %></p>
					<p> Date <%= event.date.strftime("%d/%m/%y") %></p>
				</div>
				<% end %>
				
	<% end %>			
		
</div>

