<h1>Users#show</h1>
<h2>Profile page for: <%= @user.name %></h2>

<p>The email is <%= @user.email %></p>

<h3>Events</h3>
<% if @created_events.any? %>

	<%= will_paginate @created_events %>
		<% @created_events.each do |event| %>
			<li>Event: <%= event.title %>. Location: <%= event.location %>. Date: 
				<%= event.date.strftime("%d/%m/%y at %H:%M") %></li>

		<% end %>
		<%= will_paginate @created_events %>
<% else %>
	 This user has not created any events.
	
<% end %>
	
<p>This page will list all the events that this user has created and maybe also the ones he is attending. Split past and future. Have a button to switch between created and attending. </p>


