<div class="container">
<h1>New Event</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(@event) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>

		<div class="input-field">
			<%= f.label :title %>
			<%= f.text_field :title %>
		</div>	
		
		<div class="input-field">	
			<%= f.label :location %>
			<%= f.text_field :location %>
		</div>	
			
			
		<span class="date_input">

			<%= f.label :date  %>
			<%= f.datetime_select :date, min: Date.today, :minute_step => 15 %>
		</span>	
		
		<div class="check_box input-field">
			<%= f.check_box :attendees %> 
			<%= f.label "Tick if you will be attending the event." %>
		</div>
		<div class="button">
			<%= f.submit "Create new event", class: "btn btn-primary btn-lg" %>
		</div>		
	<% end %>	

	</div>
</div>	

</div>