
<div class="row">
	<aside class="col-md-6 col-md-offset-3">
		

	

</div>
<div>
	<h2>Event title: <%= @event.title %></h2>

	<li>Location: <%= @event.location %></li>
	<li>Date and Time: <%= @event.date %></li>
	<li>Created by <%= link_to @event.creator.name, @event.creator %></li>
</div>
<div>
	<h2>Attendees</h2>
	<% if @attendees.any? %>
		<%= will_paginate @attendees %>
		<% @attendees.each do |attendee| %>
			<li><%= link_to attendee.name, attendee %>.</li>
		<% end %>
		<%= will_paginate @attendees %>



	<% end %>
</div>
</aside>
<% if logged_in? && #@event.date >= Time.now %>
	<%= render 'add_attendee' %>
<% end %>


		

		

